<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAnalogInputService" />
                <binding name="BasicHttpBinding_IDigitalInputService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:4062/Impl/AnalogInputService.svc/AnalogInput"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAnalogInputService"
                contract="AnalogInputServiceRef.IAnalogInputService" name="BasicHttpBinding_IAnalogInputService" />
            <endpoint address="http://localhost:4062/Impl/DigitalInputService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDigitalInputService"
                contract="DigitalInputServiceRef.IDigitalInputService" name="BasicHttpBinding_IDigitalInputService" />
        </client>
    </system.serviceModel>
</configuration>