<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAnalogInputService" />
                <binding name="BasicHttpBinding_IAnalogOutputService" />
                <binding name="BasicHttpBinding_IDigitalInputService" />
                <binding name="BasicHttpBinding_IDigitalOutputService" />
                <binding name="BasicHttpBinding_IAlarmCRUDService" />
            </basicHttpBinding>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IScanService" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:4062/Impl/AnalogOutputService.svc/AnalogOutput"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAnalogOutputService"
                contract="AnalogOutputServiceReference.IAnalogOutputService"
                name="BasicHttpBinding_IAnalogOutputService" />
            <endpoint address="http://localhost:4062/Impl/DigitalInputService.svc/DigitalInput"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDigitalInputService"
                contract="DigitalInputReference.IDigitalInputService" name="BasicHttpBinding_IDigitalInputService" />
            <endpoint address="http://localhost:4062/Impl/DigitalOutputService.svc/DigitalOutput"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDigitalOutputService"
                contract="DigitalOutputReference.IDigitalOutputService" name="BasicHttpBinding_IDigitalOutputService" />
            <endpoint address="http://localhost:4062/Impl/AlarmCRUDService.svc/AlarmCRUD"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAlarmCRUDService"
                contract="AlarmCrudReference.IAlarmCRUDService" name="BasicHttpBinding_IAlarmCRUDService" />
            <endpoint address="http://localhost:4062/Impl/AnalogInputService.svc/AnalogInput"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAnalogInputService"
                contract="AnalogInputReference.IAnalogInputService" name="BasicHttpBinding_IAnalogInputService" />
            <endpoint address="http://localhost:4062/Impl/AnalogInputService.svc/Scan"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IScanService"
                contract="AnalogInputReference.IScanService" name="WSDualHttpBinding_IScanService">
                <identity>
                    <userPrincipalName value="WIN-P6QQ4HS1FMG\Administrator" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>