<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IUserService" />
                <binding name="BasicHttpBinding_IPubAlarm" />
            </basicHttpBinding>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_ISubAlarm" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:4062/Impl/UserService.svc/User"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserService"
                contract="UserServiceRef.IUserService" name="BasicHttpBinding_IUserService" />
            <endpoint address="http://localhost:4062/Impl/AlarmService.svc/Pub"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPubAlarm"
                contract="AlarmServiceRef.IPubAlarm" name="BasicHttpBinding_IPubAlarm" />
            <endpoint address="http://localhost:4062/Impl/AlarmService.svc/Sub"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_ISubAlarm"
                contract="AlarmServiceRef.ISubAlarm" name="WSDualHttpBinding_ISubAlarm">
                <identity>
                    <userPrincipalName value="WIN-P6QQ4HS1FMG\Administrator" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>