<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAnalogInputService" />
                <binding name="BasicHttpBinding_IDigitalInputService" />
                <binding name="BasicHttpBinding_IUserService" />
                <binding name="BasicHttpBinding_IRecordService" />
            </basicHttpBinding>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IScanService" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:4062/Impl/DigitalInputService.svc/DigitalInput"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDigitalInputService"
                contract="DigitalInputServiceRef.IDigitalInputService" name="BasicHttpBinding_IDigitalInputService" />
            <endpoint address="http://localhost:4062/Impl/UserService.svc/User"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserService"
                contract="UserServiceRef.IUserService" name="BasicHttpBinding_IUserService" />
            <endpoint address="http://localhost:4062/Impl/RecordService.svc/Record"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRecordService"
                contract="RecordServiceRef.IRecordService" name="BasicHttpBinding_IRecordService" />
            <endpoint address="http://localhost:4062/Impl/AnalogInputService.svc/AnalogInput"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAnalogInputService"
                contract="AnalogInputServiceRef.IAnalogInputService" name="BasicHttpBinding_IAnalogInputService" />
            <endpoint address="http://localhost:4062/Impl/AnalogInputService.svc/Scan"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IScanService"
                contract="AnalogInputServiceRef.IScanService" name="WSDualHttpBinding_IScanService">
                <identity>
                    <userPrincipalName value="WIN-P6QQ4HS1FMG\Administrator" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>